<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pizza for All</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
  <a class="navbar-brand order-1 mr-0" href="https://www.codethedream.org/" target="_blank">Presented by CodeTheDream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href=http://localhost:3000/>Home <span class="sr-only">(current)</span></a>

    </div>
  </div>
 </div>
</nav>

<% content_for :content do %>
  <div class="jumbotron text-center" style="background-image: url(assets/bac4.jpg);">


    <h1 style="color:red;">Choose your Menu</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><%= yield %></p>
      </div>
      <div class="col-lg-6">
        <p>


        </p>
        <%=image_tag 'sid2.jpg'%>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
